@{
    Layout = ViewData["Layout"] as string;
}

<h1>My new view</h1>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias iusto, sed tenetur ducimus quo deleniti maiores,
    veritatis pariatur beatae vitae odio, quaerat consectetur perspiciatis aliquam quasi quisquam sit corrupti? A! </p>
